<h1><%= @post.title %></h1>

Author: <%= @post.author.username %> 
URL: <%= @post.url %>
Content: <%= @post.content %>

<a href="<%= sub_url(@post.sub) %>">Back to Sub <%= @post.sub.title %></a>

<a href="<%= edit_sub_post_url(@post.sub, @post)%> ">Edit Post</a>

<form action="<%= post_url(@post)%>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Remove Post">
  
</form>